 <!-- Products Section -->
 <section class="py-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-users"></i> All Customers
            </div>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>What's App</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let customer of customers">
                    <td> #{{ customer.id }} {{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.whatsapp }}</td>
                    <td>{{ customer.city }}</td>
                    <th>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</section>
